<div fxLayoutAlign="space-between start" fxLayout="row" class="tables-container">
    <app-table-drag-and-drop #firstTable [secondTable]="secondTable ? secondTable : null"></app-table-drag-and-drop>

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center" class="buttons-table">
        <button mat-raised-button><mat-icon>arrow_back</mat-icon></button>
        <button mat-raised-button><mat-icon>arrow_forward</mat-icon></button>
    </div>

    <app-table-drag-and-drop #secondTable [secondTable]="firstTable ? firstTable : null"></app-table-drag-and-drop>
</div>
