<h1>Angular Material Tables</h1>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="mode">
  <mat-button-toggle value="basic"        [routerLink]="['/matTableExamples/basic']">       Basic Table</mat-button-toggle>
  <mat-button-toggle value="extended"     [routerLink]="['/matTableExamples/extended']">    Extend Row</mat-button-toggle>
  <mat-button-toggle value="expendable"   [routerLink]="['/matTableExamples/expendable']">  Expend Row</mat-button-toggle>
  <mat-button-toggle value="resizable"    [routerLink]="['/matTableExamples/resizable']">   Resize Columm</mat-button-toggle>
  <mat-button-toggle value="basesorting"  [routerLink]="['/matTableExamples/basesorting']"> Sorting Data</mat-button-toggle>
  <mat-button-toggle value="filtering"    [routerLink]="['/matTableExamples/filtering' ]" > Filtering Data</mat-button-toggle>
  <mat-button-toggle value="multiselect"  [routerLink]="['/matTableExamples/multiselect']"> Select Multi Row</mat-button-toggle>
  <mat-button-toggle value="dragenddrop"  [routerLink]="['/matTableExamples/dragenddrop']"> Drag and Drop </mat-button-toggle>
</mat-button-toggle-group>

<router-outlet></router-outlet>
