<mat-table [dataSource]="dataSource" cdkDropListGroup matSort>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef="let element;" (mousemove)="!pressed ? onMouseMove($event) : null"
      [ngClass]="{'show-resize-cursor': resizeCursor}" (mousedown)="onResizeColumn($event, 0)" mat-sort-header>
      First Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="surname">
    <mat-header-cell *matHeaderCellDef="let element;" (mousemove)="!pressed ? onMouseMove($event) : null"
      [ngClass]="{'show-resize-cursor': resizeCursor}" (mousedown)="onResizeColumn($event, 1)">
      Last Name
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.surname }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef="let element;">
      Age
    </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.age }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
