<mat-table [dataSource]="dataSource" cdkDropListGroup>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef="let element;" (mousemove)="!pressed ? onMouseMove($event) : null" [ngClass]="{'show-resize-cursor': resizeCursor}" (mousedown)="onResizeColumn($event, 0)">
            Imię
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="surname">
        <mat-header-cell *matHeaderCellDef="let element;" (mousemove)="!pressed ? onMouseMove($event) : null" [ngClass]="{'show-resize-cursor': resizeCursor}" (mousedown)="onResizeColumn($event, 1)">
            Nazwisko
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.surname }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
        <mat-header-cell *matHeaderCellDef="let element;">
            Wiek
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.age }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>