<div class="table-container" cdkDropList #todoList="cdkDropList" [cdkDropListData]="this.dataSource.data"
(cdkDropListDropped)="drop($event)"
[cdkDropListConnectedTo]="this.secondTable ? [secondTable.cdkDropList] : []">
    <mat-table [dataSource]="dataSource" cdkDropList #todoList="cdkDropList" [cdkDropListData]="this.dataSource.data"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListConnectedTo]="this.secondTable ? [secondTable.cdkDropList] : []">

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="{ 'extended-class': element.extended }">
                <div [ngClass]="{ 'extended-class': element.extended }">
                    {{ element.name }}
                </div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.surname}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef> Wiek </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; let index = index; columns: displayedColumns;" (dblclick)="moveItem(index)" cdkDrag [cdkDragData]="row"></mat-row>

    </mat-table>
</div>